<!DOCTYPE html>
<html>
	<head>
		<title> TEST PYTHON SITE</title>
		<link rel="stylesheet" href="/static/style2.css"/>
	</head>
	<body>
		<img src="static/logo1.png" class="logo1" width="100" height="100"/>
		<h1> Welcome to my python test site</h1>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7xahfqVN5ig" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<a href="{{ url_for('about') }}">About Us</a>
		</div>
	</body>
</html>